.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d4728;
  padding: 10px 30px;
  color: white;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: 10px;
}

h1 {
  font-family: "Georgia", serif;
  font-style: italic;
  color: #cfe8d5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #9cd48d;
}
