.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b3d91;
  color: white;
  padding: 15px 40px;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}
